.reviewCard {
    background-color: #f4f4f4; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: calc(50% - 20px); 
    box-sizing: border-box; 
    margin-bottom: 20px; 
    color:#000000;
  }
  