@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.contentContainer {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  gap: 50px; 
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rightColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66b2ff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.advertisement {
  flex: 1;
  max-width: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loginForm {
  flex: 1;
  max-width: 50%; 
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #66b2ff; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.loginFormInner {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
